body {
    margin: 0;
    padding: 0;
    background: rgb(71, 171, 218);
}

#container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

#inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: rgb(153, 243, 224);
}

#wordList {
    list-style: none;
    padding: 0;
}

#wordList li {
    margin-bottom: 5px;
}

button {
    background-color: #296e4c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}